@import '$mixins/images.scss';

.profile-background-image {
  width: 100%;
  height: 320px;
  background-image: url(https://scontent.fktw1-1.fna.fbcdn.net/v/t1.0-9/37208290_847263215459654_1170917181353885696_n.jpg?_nc_cat=105&_nc_ht=scontent.fktw1-1.fna&oh=45d39eef2111bd42c1cdc588349986b2&oe=5CD0E035);
  @include image-cover;
}

.profile-avatar {
  width: 164px;
  height: 164px;
  border-radius: 100%;
  margin-top: -82px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 4px solid #fff;
  background-image: url(https://avatars3.githubusercontent.com/u/12050791?s=460&v=4);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  @include image-center(100%, auto);
}

.profile-username {
  margin-top: 12px !important;
  font-weight: 500 !important;
  text-align: center;
}

.profile-description {
  width: 100vw;
  max-width: 768px;
  padding: 24px;
  margin: 48px auto;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
