$grid-columns: 4;
$card-width: 194;
$padding: 48;

.home-container {
  width: fit-content;
  margin: 48px auto;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(1, 1fr);

  @for $i from 2 through $grid-columns {
    @media (min-width: #{$card-width * $i + $padding * 2}px) {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}
