.user-form-container {
  min-height: fit-content;
}

.user-form {
  width: 384px;
  padding: 24px 24px 8px 24px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.user-form-fieldset {
  width: 100%;
}

.user-form-textfield {
  width: 100%;
}

.user-form-submit-container {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.user-form-submit {
  height: 36px;
  margin-left: auto !important;
}

.user-form-control-label {
  width: 256px;
}
